{% load staticfiles %}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/website/css/master.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>

<div class="prof-box">
<img src="{% static "images/background3.jpg" %}" class="prof-pic"</img>

    <h1> TWEEDATA 2.0</h1>
    <h5> WEB APP THAT PULLS DATA & PRESENTS VISUALIZED ANALISIS </h5>
    <p>
        Searches for common slang terms used across the United States and
        provides geographical and temporal data for those terms. This presents
        to the users a means of understanding the difference in usage of
        contemporary slang in different states at different times of day.

    <div class="line-break"></div>

    </p>

    <div class="social-icons">
        <a href="https://github.com/robmarano/2018_Summer_Adv_Python_Project/wiki" target="blank"><i class="fab fa-github"></i></a>
    </div>

</div>

</body>


</html>
